<!DOCTYPE html>
<html lang="es">
<head>
      <meta charset="UTF-8">
   <link rel="stylesheet" href="../css/stylesAdmin.css" type="text/css">
   <script type="text/javascript" src="../src/estadisticas.js" type="text/javascript" async></script>
   <script type="text/javascript" src="../src/pedidosEnProceso.js" type="text/javascript" async></script>
   <script type="text/javascript" src="../src/pedidosEnviados.js" type="text/javascript" async></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <title>Proyecto_Pedidos</title>
</head>

<body>
<header>
    <div>
                    <div >
                                   
                        <a class="enlaces" href="/salir">Cerrar sesión</a>
                        <a class="enlaces" href="/admin"
                    >Regresar a zona Administrador</a
                >
                </div>
</header>
    {{{body}}}
   
</body>
</html>