<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet" 
    >
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js" ></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <!-- MDB core JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js" ></script>
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/stylesArticulos.css" >
    <script type="text/javascript" src="../src/scripts.js" async></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>


</head>

<body>
    <header>
        <div class="btn_navbar">

            <li class="text-light float-left; margin: 0em 10em;">Estás viendo la nueva web, esta es la version
                beta</li>
        </div>
        

        <a href="/"><img src="../img/logo.png" alt="Logo de Prueba TestNG" id="logoPrueba"></a>
        <ul class="listadoDesplegable">
            <li><a href="/" class="link_menu ml-4">Inicio</a></li>
            <li><a href="/secciones" class="link_menu mr-5">Secciones</a></li>
            <li><a href="/#contacto" class="link_menu mr-2">Contáctanos</a></li>
             <li> {{#if btn_hidden}}<a href="/registro" style="visibility: {{btn_hidden}};"
                    class="text-light "><button class="btn btn-primary space-btn">Registrate</button> </a></li>
            <li><a href="/identificacion" {{btn_hidden}} class="text-light "><button class="btn btn-primary">Identifícate</button> </a>
                {{/if}}
            <li>
                <div class="dropdown float-sm-right">
                    {{#if identificado}}
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{identificado}}</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/perfil">Mi cuenta</a>
                        <a class="dropdown-item" href="/carrito">Mis pedidos</a>
                        <a class="dropdown-item" href="/salir">Cerrar sesión</a>
                    </div>
                    <a href="/perfil" class="text-light float-left"><img src="../img/carrito.png" alt="cesta"
                        class="header_logo_cesta"></a>
                </div>{{/if}}
            </li>
        </ul>
    </header>


    {{{body}}}

   <footer class="footer row ml-3">
  <div class="col-md-4">
    <br>
    <img src="../img/logo.png" alt="logo empresa" class="w-25">
    <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Debitis tempore officia odit tempora quia laudantium magnam voluptatibus ea alias! </p>
    <ul class="mx-3" >
      <li class="mx-3">
      <a href="https://www.facebook.com/coopsaluss/"><img src="../img/logo_twitter.png" class="logo_col1_footer mx-3"  alt="logo_facebook"></a>
      </li>
       <li>
        <a href="https://www.facebook.com/coopsaluss/"><img src="../img/logo_facebook.png" class="logo_col1_footer mx-3" alt="logo_facebook"></a>
      </li>
       <li>
        <a href="www.instagram.com"><img src="../img/logo_instragram.png" class="logo_col1_footer mx-3" alt="logo_instagram"></a>
      </li>
    </ul>
  </div>
    <div class="col-md-4">
        <ul><br>
            <li class="text-light font-weight-bold">INFORMACIÓN LEGAL Y AYUDA</li><br><br>
            <a href="" class="text-light"><li>Blog</li></a><br>
           <a href="" class="text-light"><li>Contacto</li></a><br>
           <a href="" class="text-light"><li>Inicio</li></a><br>
           <a href="" class="text-light"><li>Terminos y condiciones</li></a><br>  
        </ul>
    </div>
    <div class="col-md-4">
      <ul><br>
        <li class="text-light font-weight-bold">CONTACTA CON NOSOTROS </li><br><br>
        <li class="text-light">Dirección: Carrer del Pintor Vergara, 3, 12004 Castelló de la Plana, Castelló</li><br>
        <li class="text-light">Teléfono: 964 21 86 17</li><br>
        <li class="text-light">info@coopsalus.com</li><br>
      </ul>
    </div>

</footer>
</body>

</html>