 <div id="muestraAdmin">
    <div class="menuEstadis" ><a class="fotoAdmin" href="/clientes">
        <img src="../img/bd2.png" alt="base de datos" class="img_product">
        <p class="descSecciones">Datos Clientes</p></a>
    </div>
    <div class="menuEstadis"><a class="fotoAdmin" href="/datos">
        
        <img src="../img/grafico2.png" alt="dibujo gráfico" class="img_product">
        <p class="descSecciones">Estadísticas</p>
    </a>
    </div>

  
         <div class="menuEstadis"><a class="fotoAdmin" href="/stock">
        <img src="../img/stock3.png" alt="chancla_producto" class="img_product stock">
        <p class="descSecciones">Stock</p>
        
        
        </a>
    </div>
    <div class="menuEstadis"><a class="fotoAdmin" href="/pedidosEnProceso">
    
        <img src="../img/confirmados.png" alt="chancla_producto" class="img_product proceso">
        <p class="descSecciones">Pedidos en proceso</p>
        </a>
    </div>
     
    <div class="menuEstadis"><a class="fotoAdmin" href="/pedidosEnviados">
    	<img src="../img/delivered.png" alt="chancla_producto" class="img_product">
        <p class="descSecciones">Pedidos enviados</p>
        </a>
    </div>
          <div class="menuEstadis"><a class="fotoAdmin" href="/historicoPedidos">
    
        <img src="../img/historico.png" alt="chancla_producto" class="img_product proceso">
        <p class="descSecciones">Histórico Pedidos</p>
        </a>
    </div>
      
</div>
</div>