<div class="row">
<div class="col-12">
            <h1 class="text-center" style="color: rgb(8, 8, 138)">Bienvenido a la sección de administrador</h1>

</div>
<div class="col mt-5 ">
    <img src="../img/admin.jpg" alt="" style="height: 450px; width: 95%; margin: 1em">

</div>
</div>