<br><br><br><br><br>
<h1><strong> Tu carro de compra: </strong></h1>
{{#each datosGuardados}}
<div class="card" style="width: 18rem;">
    
    <img class="card-img-top" src="/img/{{imagen}}" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">{{descripcion}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: {{precio}}</li>
    </ul>


</div>

{{/each}}
</div>





<br><br>

    <button id="guardarArticulos">Guardar artículos</button><br><br>
