<<<<<<< HEAD
<div class="cont_products">
    {{#each secciones}}
    <div class="product">
        <a name="{{categoria}}"></a>
=======

<div class="cont_products">

    {{#each secciones}}
    <div class="product">
>>>>>>> origin/master
        <img src="../img/{{categoria}}.png" alt="chancla_producto" class="img_product">
        <p class="descripcion">{{descripcion}}</p>
        <p class="precio">{{precio}}€</p>
        <input type="number" value="1" id="box_input" min="1" max="10">
        <img src="../img/cesta.png" alt="cesta_compra" id="log_cesta">
    </div>
    {{/each}}

</div>
