{{#if imagenUltima}}
{{#each imagenUltima}}

<div id="nuevoProducto">
<section id="formNuevo" class="formNuevo">
    <p>Crea un nuevo producto</p>
    <p>La imagen se debe incluir en la modificación de producto cuando ya se haya creado.</p>
    <form id="form" action="/crearArticulo" method="POST">
    <fieldset>
        <label for="descripcion">Descripción:</label>
        <input name="descripcion" type="text" id="descripcion" size="40">
    </fieldset>
    <fieldset>
        <label for="categoria">Categoría:</label>
        <input name="categoria" type="text" id="categoria" size="20">
    </fieldset>
    <fieldset>
        <label for="stock">Stock Actual:</label>
        <input name="stock" type="text" id="stock" size="3">
    </fieldset>
    <fieldset>
        <label for="precio">Precio en Eur:</label>
        <input name="precio" type="text" id="precio" size="3">
    </fieldset>
    <fieldset> <p>Último nombre de imagen utilizado: "{{imagen}}"</p>
      <label for="imagen">Nombre Imagen: (ultimo nombre + 1) </label>
        <input name="imagen" type="text" id="imagen" size="6">
    </fieldset>
        <input id="enviar" type="submit" value="Guardar">
    </form>

</section>
</div>
{{/each}}
{{/if}}