<h2 class="ml-5 mt-4 text-dark">Confirma tu email y contraseña para eliminar tu cuenta.</h2>
  <div class="container row">
    <div class="col-10 mt-5">
      <form action="/eliminarCuenta" method="POST">
        <div class="col">
          <label for="email" style="width: 30%;">Introduce tu email:</label>
          <input type="email" placeholder="Dirección de correos" name="correoElimina">
        </div>
        <div class="col mb-5">
          <label for="email" style="width: 30%;">Confirma tu contraseña:</label>
          <input type="password" placeholder="********" name="passwordElimina">
        </div>
        <button type="submit" class="btn btn-primary mb-4 push-center" >
            Eliminar cuenta
        </button>
      </form>
    </div>
  </div>
</div>