
       
            
{{#if datos}}

    <div id="muestra">
        <div id="vistaProducto" class="menuEstadis"><a class="fotoAdmin" href="#">
        <img src="../img/productosVistos.png" alt="dibujo representa base de datos" class="img_product">
        <p class="descStats">Vista Producto/Comprado</p></a>
        </div>
        
        <div id="vistaClientes" class="menuEstadis"><a class="fotoAdmin" href="#">
        <img src="../img/clientes.png" alt="dibujo de un gráfico" class="img_product">
        <p class="descStats">Vista Clientes Registrados</p></a>
        </div>

        <div id="productosComprados" class="menuEstadis"><a class="fotoAdmin" href="#">
        <img src="../img/productosComprados.png" alt="imagen representa productos comprados" class="img_product">
        <p class="descStats">Productos Comprados/Poblaciones</p></a>
        </div>
        
    </div>
    <div id="containerCanvas" class="containerCanvas">
            <canvas id="grafica"></canvas>
            
    </div>
    
    
  

    {{/if}}
