<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

			
{{#if datos}}

	<div id="muestra">
	    <div class="menuEstadis"><a class="fotoAdmin" href="#">
        <img src="../img/productosVistos.png" alt="base de datos" class="img_product">
        <p class="descStats">Vista Producto/Comprado</p></button>
        </div>
    	
    	<div class="menuEstadis"><a class="fotoAdmin" href="#">
        <img src="../img/clientes.png" alt="dibujo gráfico" class="img_product">
        <p class="descStats">Vista Clientes Registrados</p></a>
    	</div>

    	<div class="menuEstadis"><a class="fotoAdmin" href="#">
    	<img src="../img/productosComprados.png" alt="chancla_producto" class="img_product">
        <p class="descStats">Productos +/- Comprados</p></a>
    	</div>
        
    </div>
    <div class="container">
			<canvas id="grafica"></canvas>
            <div id="buttons">
	<button id="dias" class="valorStock">Días</button><button id="meses" class="valorStock">Meses</button><button id="años" class="valorStock">Años</button>
    </div>
	</div>
	    
    
	<script>
    
  
  
	async function canvas() {
	
    let miCanvas = document.getElementById("grafica").getContext("2d");
	
	let chart = new Chart(miCanvas, {
		type: "line",
		data: {
			labels: ["Pantalones", "Cantidad"],
			datasets: [
				{
					label: "Venta de Productos",
					backgroundColor: "rgb(255,255,0)",
				            data: [1, 6],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true
        },
        ticks: {
        min: 0
    }
    
});
}

document.getElementById("muestra").addEventListener("click", canvas);


</script>

    {{/if}}

