
<h1 id="stock"><strong> Histórico Pedidos </strong></h1>
<div class="divEnlaces">
<a class="enlaces" href="/pedidosEnProceso"><button class="btn btn-primary mr-3">Pedidos en Proceso</button> </a>
<a  class="enlaces" href="/pedidosEnviados"><button class="btn btn-primary mr-3">Pedidos Enviados</button></a></div>
<br>

<table name="divPedido"  class="table">
	  
  <thead class="thead-dark">
	
    <tr>
	 
      <th class="text-center">Id pedido</th>
      <th class="text-center">Productos</th>
      <th class="text-center">Cantidad</th>
    </tr>
  </thead> 
  <tbody>
{{#if historicoPedidos}}
{{#each historicoPedidos}}
	  <td class="text-center">{{id_pedido}}</td>
      <td class="text-center">{{descripcion}}</td>
      <td class="text-center">{{cantidad}}</td>
	  </th>
    </tr>
{{/each}}
{{/if}}
  </tbody>
</table>
