
<div>
    <br><br><br><br><br>
    {{#each secciones}}
    <a href="../public/html/zapatillas.html">
    <div class="cont_secciones">
        <img src="../img/{{img}}" alt="ropa_deportiva" class="imgSeccion">
        <br><br>
        <p class="descripcion">{{desc}}</p>
        
    </div>
    </a>
    
    {{/each}}
</div>