<br><br><br><br><br><div class="container p-0">

  

    <div class="row">
        <div class="col-md-5 col-xl-4">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Mi cuenta personal</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action " data-toggle="list" href="#account" role="tab">
                      Mi perfil
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                      Cambiar contraseña
                    </a>
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#pedidosClientes" role="tab">
                        Mis pedidos
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#eliminarCuenta" role="tab">
                      Eliminar cuenta
                    </a>
                    
                </div>
            </div>
        </div>

        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <div class="tab-pane fade " id="account" role="tabpanel">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Mis datos personales</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="inputUsername">Usuario</label>
                                            <input type="text" class="form-control" id="inputUsername" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputUsername">Biografía</label>
                                            <textarea rows="2" class="form-control" id="inputBio" placeholder="Habla un poco de tí"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <img alt="Andrew Jones" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle img-responsive mt-2" width="128" height="128">
                                            <div class="mt-2">
                                                <span class="btn btn-primary"><svg class="svg-inline--fa fa-upload fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="upload" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"></path></svg><!-- <i class="fas fa-upload"></i> --> Subir</span>
                                            </div>
                                            <small>Tamaños recomendados de 128px por 128px en .jpg</small>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                   
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Private info</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputFirstName">Nombre</label>
                                        <input type="text" class="form-control" id="inputFirstName" placeholder="">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLastName">Apellidos</label>
                                        <input type="text" class="form-control" id="inputLastName" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Dirección</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Dirección alternativa</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="">
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>

                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="password" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Contraseña</h5>

                            <form>
                                <div class="form-group">
                                    <label for="inputPasswordCurrent">Contraseña actual</label>
                                    <input type="password" class="form-control" id="inputPasswordCurrent">
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">Nueva contraseña</label>
                                    <input type="password" class="form-control" id="inputPasswordNew">
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew2">Verificar contraseña</label>
                                    <input type="password" class="form-control" id="inputPasswordNew2">
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="pedidosClientes" role="tabpanel">
                    <div class="card">
                        <a href="" name="pedidosClientes"></a>
                        <div class="card-body row ">
                            <h5 class="card-title col-12">Fecha de pedido: 18.05.2020</h5>
                            <div class="col ">               
                                <img src="../img/chancla.jpg" class="w-25 " alt="">
                                <div class="form-group ">
                                    <label for="inputPasswordCurrent">Pedido número: 123</label>
                                </div>
                                <div class="form-group ">
                                    <label for="inputPasswordNew">Descripción: Chanclas para andar por la calle</label>
                                </div>
                                <div class="form-group ">
                                    <label for="inputPasswordNew2">Cantidad: 2</label>
                                </div>
                                <div class="form-group ">
                                    <label for="inputPasswordNew2">Precio: 12€</label>
                                </div>
                          </div> 
                          <div class="col">
                                <img src="../img/zapatillas.png" class="w-25 " alt="">
                                <div class="form-group ">
                                    <label for="inputPasswordCurrent">Pedido número: 123</label>
                                </div>
                                <div class="form-group ">
                                    <label for="inputPasswordNew">Descripción: Nike 123SD. Aptas para running.</label>
                                </div>
                                <div class="form-group ">
                                    <label for="inputPasswordNew2">Cantidad: 1</label>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew2">Precio: 19€</label>
                                </div>
                      </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="eliminarCuenta" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Eliminar cuenta</h5>

                                <div class="form-group">
                                    <label for="inputPasswordCurrent">Explicanos las razones de eliminar tu cuenta:</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">Correo Electrónico</label>
                                    <input type="email" class="form-control" required >
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew2">Verifica el correo electrónico</label>
                                    <input type="email" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Eliminar Cuenta</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>