<br><br><br>

    <div class="cont_main_secciones"> 
    {{#each secciones}}
    
    <div class="d-inline-block  mx-4">
       <a href="/articulos/{{categoria}}"><img src="../img/{{categoria}}.jpg" alt="ropa_deportiva"  name="{{categoria}}" class=" imgSecciones" ></a>
     <p class="text_seccion text-center">{{categoria}}</p>
    </div>
{{/each}} 
</div>


