<div class="cont_main_secciones">
   
    
    {{#each secciones}}
    <a href="/articulos/#{{seccion}}">
    <div class="cont_secciones">
        <img src="../img/{{seccion}}.png" alt="ropa_deportiva" class="imgSeccion">
        <br><br>
        <p class="text_seccion">{{seccion}}</p>
        
    </div>
    </a>
    
    {{/each}}
</div>


