

    <div class="cont_main_secciones"> 
    {{#each secciones}}

    <div class="d-inline-block  mx-4">
       <a href="/articulos"><img src="../img/{{seccion}}" alt="ropa_deportiva" class=" imgSecciones" ></a>
     <p class="text_seccion">{{titulo}}</p>
    </div>

    {{/each}} 
</div>


