body {
  width: 70%;
  margin: 0 auto;
  background-color: #f0f8ff;
}

#header {
  width: 70%;
  height: 30%;
  padding-top: 5%;
}

.contenedorPedidos {
  width: 40%;
  margin-left: 10%;
}

.product {
  display: inline-block;
  margin: 1vw 2vw;
  background-color: white;
  border-radius: 2vw;
  width: 20%;
  -webkit-box-shadow: -9px 9px 20px -8px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -9px 9px 20px -8px rgba(0, 0, 0, 0.52);
  box-shadow: -9px 9px 20px -8px rgba(0, 0, 0, 0.52);
}

.fotoAdmin {
  text-decoration: none;
  color: #212529;
}

.img_product {
  margin: 0.2vw 4vw;
  width: 50%;
  height: 25%;
  padding-top: 1%;
}

.container {
  margin-top: 3%;
  width: 50%;
  height: 50%;
}

#muestra {
  width: 70%;
  margin: 0 auto;
}
#muestraAdmin {
  width: 70%;
  margin: 0 auto;
}

.descStats {
  font-size: 1vw;
  text-align: center;
}

.descSecciones {
  text-align: center;
  font-size: 1vw;
}
.menuEstadis {
  display: inline-block;
  margin-left: 1%;
  margin-top: 10%;
  background-color: white;
  border-radius: 2vw;
  width: 30%;
  height: 15%;
  -webkit-box-shadow: -9px 9px 20px -8px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -9px 9px 20px -8px rgba(0, 0, 0, 0.52);
  box-shadow: -9px 9px 20px -8px rgba(0, 0, 0, 0.52);
}
.stock {
  margin-top: 6%;
}

.proceso {
  margin-top: auto;
}

#stock {
  text-align: center;
}
.contenedorStock {
  display: inline-block;
  margin-left: 2%;
  background-color: #aacae6;
  padding: 2%;
  width: 50%;
  overflow-wrap: break-word;
}

.contenedorStock button {
  border-radius: 2vw;
  margin: 0.2%;
  margin-top: 1%;
  border: 0.5px solid white;
}

.valorStock {
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
}

.valorStock button {
  background-color: #e2c8c8;
}

.imagenStock {
  height: 20%;
  width: 20%;
}

ul > li {
  list-style: none;
}

input.file {
  width: 60%;
}

#selectCat {
  margin-left: 46%;
}

.stockVista {
  padding-left: -2%;
}

.btnActualizar {
  background-color: #e2c8c8;
}

.clientes {
  background-color: #aacae6;
  width: 50%;
  margin-left: 25%;
}
.titulo {
  text-align: center;
}

.divEnlaces {
  text-align: center;
}

.enlaces {
  padding: 0.5%;
  border-radius: 8px;
  border: none;
  color: grey;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #decede;
}

.listaPedido {
  margin-top: 3%;
  border: 0.5px solid grey;
  width: 40%;
  display: inline-block;
  background-color: white;
}

.containerCanvas {
  width: 60%;
  margin-top: 3%;
  height: 50%;
}
#grafica {
  margin-left: 25%;
}

fieldset {
  border: none;
}
#nuevoProducto {
 border: 1px solid #decede;
 
}