.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.cont_registros{
    text-align: center;
    margin: 13% auto;
    width: 50%;
    padding: 3%;
    border-radius: 4em;
    background-color: rgb(238, 238, 238);
    box-shadow: beige;
  }

  .box_inputs{
    width: 80%;
  }

 .box_inputs_contraseña{
    width: 80%;
    margin: 0.5em;
 }

 .cont_contraseña{
     width: 90%;
     display: inline;
     

 }