.sidepanel {
  height: 250px;
  /* Specify a height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  font-size: 25px;
  color: #3b3b3b;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 100px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: RGB(245, 245, 245);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.listadoDesplegable {
  list-style-type: none;
  margin: 0vw 15vw;
  padding: 0vw;
  width: 30%;
  margin-left: 0px;
  margin-right: 0px;
  display: contents;

}

li {
  margin-right: 1em;
  display: inline;
}

.link_menu {
  margin-right: 3em;
  flex: initial;
  color: rgb(44, 44, 44);
}

.link_menu:hover {
  border: solid RGB(1, 65, 129);
  padding: 0.3em;
  color: RGB(1, 65, 129);
  text-decoration: none;
}

.cont_text_identificacion {
  width: 90%;
  background-color: rgb(228, 227, 227);
  margin: 0.5vw;
  padding: 1em;
  border: medium;
  margin-bottom: 1em;
}

.btn_navbar {
  background-color: RGB(1, 65, 129);
  text-align: right;
  width: 100%;
  padding: 0em;
  margin: 0em;
}

header {
  width: 100%;
  padding-top: 0%;
  position: fixed;
  top: 0px;
  z-index: 100;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.925);
  border-bottom: solid;
  border-color: rgba(1, 65, 129, 1);

}

#logoPrueba{
  width: 20%;
  height:60%;
  margin: 0.3em 4em;
}

#carouselExampleIndicators {
  width: 97%;
  margin: 8em auto;
  margin-bottom: 2em;
}

 :hover{
    color: grey;
  }
  
  .product {
    float: left;
    display: block;
    margin: 3vw 2vw;
    background-color: white;
    border-radius: 2vw;
    width: 20%;
    height: 330px;
    -webkit-box-shadow: -9px 9px 20px -8px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -9px 9px 20px -8px rgba(0, 0, 0, 0.52);
    box-shadow: -9px 9px 20px -8px rgba(0, 0, 0, 0.52);
  }
  
  .cont_products {
    margin-top: 8vw;
    padding: 1vw auto;
    background-color: rgba(228, 228, 228, 0.521);
  }
  
  #capturaGmaps {
    margin: 1vw 0vw;
    width: 50%;
  }
  
  #formularioContacto {
    
    height: 34vw;
  
    margin: 1vw auto;
    width: 40%;
    font-size: 2vw;
  }
  
  .textbox_short {
    border: none;
    width: 40%;
    margin: 1vw;
    text-align: left;
    color: rgb(126, 123, 123);
  }

  
  
  .textbox_large {
    border: none;
    width: 85%;
    margin: 1vw;
    text-align: left;
    color: rgb(126, 123, 123);
  }
  
  .textbox_message {
    width: 85%;
    border: none;
    height: 12vw;
    margin: 1vw;
    text-align: left;
    color: rgb(126, 123, 123);
  }
  
  .box_submit {
    width: 20%;
    border-radius: 2em;
  }
  
  
  .carrito {
    float: right;
  }

  #logout {
    float: right;
  }
  
  .fotoAdmin {
    text-decoration: none;
    color: #212529;
  }
  
  .img_product {
    margin: 3vw 20%;
    width: 70%;
    height: 100px;
  }
  
  #gmaps {
    display: inline;
  }
  

  

.cont_products {
  margin-top: 8vw;
  padding: 1vw auto;
  background-color: rgba(228, 228, 228, 0.521);
}

.precio {
  display: -webkit-inline-box;
  width: 10%;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 2vw;
}


#formularioContacto {
  text-align: center;
  margin: 0em auto;
  float: left;
  width: 50%;
  font-size: 1.2vw;
}

.cont_contacto {
  width: 97%;
  margin: 1em auto;
  padding: 1em;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(1, 65, 129, 1) 30%);

}

.textbox_short {
  border: none;
  width: 40%;
  margin: 1vw;
  text-align: left;
  color: rgb(126, 123, 123);
}

.textbox_large {
  border: none;
  width: 85%;
  margin: 1vw;
  text-align: left;
  color: rgb(126, 123, 123);
}

.textbox_message {
  width: 85%;
  border: none;
  height: 12vw;
  margin: 1vw;
  text-align: left;
  color: rgb(126, 123, 123);
}

.box_submit {
  width: 20%;
  border-radius: 2em;
}


.carrito {
  float: right;
}

.fotoAdmin {
  text-decoration: none;
  color: #212529;
}

.img_product {
  margin: 3vw 20%;
  width: 70%;
  height: 100px;
}

#gmaps {
  display: inline;
}



.cont_main_secciones {
  margin-top: 7em;
  margin-left: 2em;
}

.imgSecciones{
  margin-top: 2em;
  height:400px;
  width:350px;
}


.cont_secciones {
  float:left;
  width: 50%;
  margin: 1em;

}

.text_seccion{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  width: 50%;
  margin: 0.5em auto;
  font-weight: bolder;
}

.mySlides {
  width: 90%;
}

.banners_inicio {
  width: 97%;
  height: 6em;
  margin: 1em auto;
  background-color: RGB(1, 65, 129);


}

.footer {
  width: 97%;
  margin: 0em auto;
  background-color: rgb(41, 106, 150);
  padding: 0em;
}

.header_logo_cesta {
  width:3em
}

#log_cesta{
  width: 100%;
}

.logo_col1_footer{
  margin: 0em;
  width: 7%;
}

.cont_carousel {
  width: 97%;
  margin: 0em auto;
}

  .mySlides{
    width: 90%;
  }

  .banners_inicio{
    width: 97%;
    height: 6em;
    margin: 1em auto;
    background-color: RGB(1, 65, 129);
  }

  .banner_text_inicio{
    width: 60%;
    margin: 0.3em auto;
    padding: 1em;
    color: white;
    font-weight: bolder;
    font-size: 1.7em;    
     
  }

  

  
